/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */

 :root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --visited-link: #05676e;
  --active-link: #489c79;
  --button-border: rgba(0, 0, 0, 0.3);
  --span-background: rgba(102, 132, 233, 0.3);
  --page-header-border: grey;
  --grid-item-background: lightgray;
  --sun-start: #edc655;
  --sun-halfway: #fcffad;
  --sun-end:#f76414;
  --button-secondary: #2b2b2b;
  --font-normal: 400;
  --font-bold: 700;
}

 body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-normal);
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-bold);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-bold);
}

a {
  color: var(--primary-color);
}


a:visited {
  /* visited link */
  color: var(--visited-link);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--active-link);
}

header > img {
  width: 100px;
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid var(--button-border);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

span {
  background-color: var(--span-background);
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--button-secondary);
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid var(--page-header-border);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list, li {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
 
  }
  .grid__item {
    background-color: var(--grid-item-background);
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
 }

 @media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--sun-start);
  }
  50% {
    fill: var(--sun-halfway);
  }
  100% {
    fill: var(--sun-end);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



/* Top and Bottom borders go out */
ul.topBotomBordersOut a {
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  text-decoration: none;
}

ul.topBotomBordersOut a:before,
ul.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: var(--active-link);
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

ul.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

ul.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

ul.topBotomBordersOut a:hover:before,
ul.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

